{% extends "base.html" %}


{% block start %}
  
 
<h1> hello this this update page</h1>


<div class="container mt-5">
  
   <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
     {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Receipe name</label>
      <input value="{{dishes.dish_name}}" name="dish_name" type="text"  class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">dish description </label>
      <textarea   name="dish_description" class="form-control" required>{{dishes.dish_description}}</textarea>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">dish Image </label>
        <input value="{{dishes.dish_image}}" name="dish_image" type="file" class="form-control" >
      </div>
   
    <button type="submit" class="btn btn-primary">UPDATE dish</button>
  </form>


    


    

</div>
   
    {% endblock  %}